@{
    ViewData["Title"] = "Contact";
}
<br />
<br />
<br />
<br />

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>This is our Address.....</h3>

  
    <h6>No 03,</h6>  
     <h6>University road, </h6>
       <h6>Colombo. </h6>
   

<br />

<h3>Teliphone Numbers</h3>
<p>
    <h6>0115555555</h6> 
    <h6>0112888888</h6>  
    <h6> 0118256325</h6>
</p>
<br />

<h3>Email Us</h3>

   
       <h6>UniversityOfSL@example.com</h6> 
       <h6>UniversityOfslHead@examle.com</h6> 
       <h6> UniversityBranches@example.com</h6>

   

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />