@{
    ViewData["Title"] = "Home Page";
}

@*<div class="jumbotron">    
    <h1>University of SL</h1> 
    </div>*@ 


    <div class="row">
        <div class="col-md-4">
            <h2>Welcome to University of SL</h2>
            <p>
                University of SL is a one of greatest university in the world for students
                who willing to study any field including modern subjects such as Information security and
                AI.
            </p>
        </div>
        
    </div>
