@{
    ViewData["Title"] = "Home Page";
}

@*<div class="jumbotron">    
    <h1>University of SL</h1> 
    </div>*@ 
<br />
<br />
<br />
<br />

    <div class="row">
        <div class="col-md-6">
            <h1><b><i>Welcome to University of SL</i></b></h1>
            <p>
                University of SL is a one of greatest university in the world for students
                who willing to study any field including modern subjects such as Information security and
                AI.
            </p>
        </div>
    <div class="col-md-6">
        <p>
        About the University.... <a asp-area="" asp-controller="Home" asp-action="about"><i>Go to above</i></a>
            </p>
        <p>
            Go to Contact.... click <a asp-area="" asp-controller="Home" asp-action="Contact"><i>Contact US</i></a>
        </p>
    </div>
    </div>
<br />
<div class="row">
    <div class="col-md-6">
        <div class="media">
            <div class="media-left">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Albert_Einstein_Head.jpg/220px-Albert_Einstein_Head.jpg" class="media-object" style="width:80px" />
            </div>
            <div class="media-body">
                <h4 class="media-heading"><b>Albert Einstein</b><small><b> Greatest scientist of all the time..</b></small></h4>
                <p>
                    <ul>
                        <li>Few are those who see with their own eyes and feel with their own hearts.</li>
                        <li>Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the world.</li>
                        <li>Unthinking respect for authority is the greatest enemy of truth.</li>
                        <li>Try not to become a man of success, but rather try to become a man of value.</li>
                        <li> am by heritage a Jew, by citizenship a Swiss, and by makeup a human being, and only a human being, without any special attachment to any state or national entity whatsoever.</li>
                        <li>Great spirits have always encountered violent opposition from mediocre minds.</li>
                    </ul>
                </p>
                <div class="media">
                    <div class="media-left">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Stephen_Hawking.StarChild.jpg/220px-Stephen_Hawking.StarChild.jpg" class="media-object" style="width:80px" />
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><b>Stephen Hawking</b><small><b> Greatest scientist of the Modern world</b></small></h4>
                        <p>
                            <ul>
                                <li>
                                    Look up at the stars and not down at your feet. Try to make sense of what you see, and wonder about what makes the universe exist. Be curious.
                                </li>
                                <li>
                                    People won't have time for you if you are always angry or complaining.
                                </li>
                                <li>
                                    We are all now connected by the Internet, like neurons in a giant brain.

                                </li>
                                <li>
                                    Intelligence is the ability to adapt to change

                                </li>
                            </ul>
                        </p>
                        <div class="media">
                            <div class="media-left">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Darwin_restored2.jpg" class="media-object" style="width:80px" />
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><b>Charles Darwin</b><small><b>Father of the modern Evolution</b></small></h4>
                                <p>
                                    <ul>
                                        <li>
                                            A man who dares to waste one hour of time has not discovered the value of life.
                                            
                                        </li>
                                        <li>
                                            A man's friendships are one of the best measures of his worth.
                                            
                                        </li>
                                        <li>
                                            An American monkey, after getting drunk on brandy, would never touch it again, and thus is much wiser than most men.
                                           
                                        </li>
                                        <li>
                                            Man tends to increase at a greater rate than his means of subsistence.
                                            
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>

    <div class="col-md-6">
        <h3>Most Important Philosophical Quotations</h3>
        <ul>
            <li>“The unexamined life is not worth living” – Socrates (470-399 BCE)</li>
            <li> “Entities should not be multiplied unnecessarily” – William of Ockham (1285 - 1349?)</li>
            <li> “The life of man [is] solitary, poor, nasty, brutish, and short.” – Thomas Hobbes (1588 – 1679)</li>
            <li> “I think therefore I am” – René Descartes (1596 – 1650)</li>
            <li>“To be is to be perceived (Esse est percipi).” Or, “If a tree falls in the forest and no one is there to hear it, does it make a sound?” – Bishop George Berkeley (1685 – 1753)</li>
            <li>“We live in the best of all possible worlds.” – Gottfried Wilhelm Leibniz (1646 – 1716)</li>
            <li> “The owl of Minerva spreads its wings only with the falling of the dusk.” G.W.F. Hegel (1770 – 1831)</li>
            <li> “Who is also aware of the tremendous risk involved in faith – when he nevertheless makes the leap of faith – this [is] subjectivity … at its height.” – Søren Kierkegaard (1813 – 1855)</li>
            <li>“God is dead.” – Friedrich Nietzsche (1844 – 1900)</li>
            <li>“There is but one truly serious philosophical problem, and that is suicide.” – Albert Camus (1913 – 1960)</li>
            <li>“One cannot step twice in the same river.” – Heraclitus (ca. 540 – ca. 480 BCE)</li>
        </ul>
    </div>
</div>
